{% load staticfiles %}
{% load render_table from django_tables2 %}
<html>{# Load the tag library #}


<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Szczegoly</title>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <STYLE>
        body{
            font-family: @font-family-sans-serif;
        }
                a {
          color: @link-color;
          text-decoration: none;
        
          &:hover {
            color: @link-hover-color;
            text-decoration: underline;
          }
        }
    </STYLE>
   
        
</head>
<body>
 
{# Load CSS and JavaScript #}





{# Display django.contrib.messages as Bootstrap alerts #}
<!--<div class="col-xs-1 col-md-1"></div>-->
<!--<div class="col-xs-10 col-md-10"> -->
<!--
<table id="linktable" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="90%">
    <thead>
        <th>Domain</th>
        <th>Title</th>
        <th>Article updated</th>
        <th>Created</th>
        <th>Type</th>
        <th>Show</th>
        <th>Last share count</th>
        <th>Last comm count</th>      
        
    </thead>
{% for entry in index %}
    <tr>
        
        {% if not entry.error %}
            <td>{{entry.domain}}</td>
            <td><a href="{{entry.uri}}">{{entry.title}}</a></td>
            <td>{{ entry.updated_time|date:"Y/m/d" }} {{ entry.updated_time|time:"H:i" }}</td>
            <td>{{ entry.created_at|date:"Y/m/d" }} {{ entry.created_at|time:"H:i" }}</td>
            <td>{{entry.link_type}}</td>
            <td><a href="/monitor/linkstats/{{entry.id}}">Statystyki</a></td>
            <td>{{entry.last_shares_count}}</td>
            <td>{{entry.link_comments_count}}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>No statistics yet </td>
        {% endif %}
        
        
    </tr>
{% endfor %}
</table>

-->
{% render_table table %}
<!--
<div class="pagination">
    <span class="step-links">
        {% if index.has_previous %}
            <a href="?page={{ index.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ index.number }} z {{ index.paginator.num_pages }}.
        </span>

        {% if index.has_next %}
            <a href="?page={{ index.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>
-->
<!--</div>
<div class="col-xs-1 col-md-1"></div>-->
<script type="text/javascript">
/*    $(document).ready(function(){
     $('#linktable').DataTable( {
        //"order": [[ 3, "desc" ]],
        //"lengthMenu": [[50], [50]]
    });
    });
  */ 
</script>
</body>
</html>
