<html>{# Load the tag library #}
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pozycje na stronach dla {{ uri }}</title>
    <!--
    
    <script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/c3-0.3.0/c3.min.js" %}"></script>
    <link href="{% static "js/c3-0.3.0/c3.css" %}" rel="stylesheet"> -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <STYLE>
        body{
            font-family: @font-family-sans-serif;
        }
                a {
          color: @link-color;
          text-decoration: none;
        
          &:hover {
            color: @link-hover-color;
            text-decoration: underline;
          }
        }
    </STYLE>
</head>
<body>
    
<a href="{{ HTTP_REFERER }}">Back</a>
<h4>
    {% block title %} {{ uri }} {% endblock %}
</h4>
<p>Article last update time: {{updated_time}}</p>
<p>First time scrapped: {{created_at}}</p>
<div class="table-responsive">
    <div id="chart">
        
    </div>
<table class="table table-condensed  table-bordered  table-striped">
    <tr>
        <thead>
        <th>Link position inside area</th>
        <th>Area name</th>
        <th>Link number in html</th>
        <th>Time</th>
        </thead>
    </tr>
{% for position in positions %}
    <tr>
        
        
        <td>{{ position.link_position_within }}</td>
        <td>{{ position.link_html_id }}</td>
        <td>{{ position.link_number_on_site }}</td>
        <td>{{ position.time }}</td>
    </tr>

{% endfor %}
</table>
</div>


 

</body>
</html>
